* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

body {
  background-color: rgb(31, 29, 54);
}

.nav {
  background-color: transparent;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 1rem 4rem;
}

.hex {
  text-shadow: 0 0 3px rgb(0, 97, 182);
  color: rgb(0, 97, 182);
}
.rgb {
  text-shadow: 0 0 3px rgb(187, 2, 2);
  color: rgb(187, 2, 2);
}

.container {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container h2 {
  color: rgb(244, 180, 0);
  text-shadow: 0 0 2px rgb(244, 180, 0);
}

.container p {
  padding: 5rem;
  font-size: 2rem;
}

.btn {
  position: relative;
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
  color: black;
  background-color: rgb(15, 157, 88);
  border: 3px solid rgb(15, 157, 88);
  border-radius: 10px;
}

.btn::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -13px;
  right: -13px;
  bottom: -13px;
  border-radius: 16px;
  border: 3px solid rgb(15, 157, 88);
}

.btn:active {
  outline: none;
}
